
@font-face {
 font-family: boxdrawing;
 src: url("https://gnjo.github.io/boxdrawing/notoj.ttf") format("truetype");
 font-weight: normal;
 font-style: monospace;
 /*need line-height:1.0*/
}
@font-face {
 font-family: boxdrawing;
 src: url("https://gnjo.github.io/boxdrawing/dqfc2.ttf?v=1") format("truetype");
 font-weight: normal;
 font-style: monospace;
 /*unicode-range: U+2019-FFE5;over write latin*/
}
